.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navbar {
  height: 2rem;
  margin: 0 auto;
  padding: 1.5rem;
  border: 2px solid rgb(0, 0, 0);
}


.studentPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.studentSchoolInfo {
  justify-content: space-between;
  border: 2px solid green;
}

.studentGrades {
  border: 2px solid blue;
}

.studentAttendance {
  border: 2px solid rgb(172, 30, 30);
}