.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navbar {
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid rgb(0, 0, 0);
}

#navbar ul {
  padding: 0;
  margin: 10px;
}

.studentPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.studentName {
  height: 1rem;
}

.studentSchoolInfo {
  justify-content: space-between;
  /* border: 2px solid green; */
}

.studentGrades {
  border: 2px solid blue;
}

.studentAttendance {
  border: 2px solid rgb(172, 30, 30);
}

.studentPageHeaders {
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: bold;
}

@media print{
  #navbar{
  display:none;
  }
  }