.App {
  text-align: center;
  /* background-color: #003b70; */
  color: #003b70;
}

#navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-bottom: 2px solid #003b70;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
}

#navbar img{
  float: left;
}

.studentPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.studentName {
  height: 1rem;
  margin-top: .5rem;
  margin-bottom: 1.75rem;
}

.studentSchoolInfo {
  justify-content: space-between;
  border: 2px solid #003b70;
;
}

.studentGrades {
  border: 2px solid #003b70;
  border-top: 0;
  border-bottom: 0;
}

.studentAttendance {
  border: 2px solid #003b70;
}
.studentAttendanceInfo{
  text-transform: capitalize;
}

.studentPageHeaders {
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: bold;
}

@media print {
  #navbar {
    border-bottom: none;
  }
  .printBtn {
    display: none;
  }
}

.printBtn {
  justify-content: center;
  margin: 0 auto;
  height: 1.5rem;
  cursor: pointer;
  color: grey;
}

.btnDiv {
  margin-top: 0.5rem;
}

#navbar img {
  height: 3rem;
}
.studentList {
  padding-bottom: .5rem;
}

p {
  color: #003b70;
}

.studentPageHeaders{
  margin-top: .5rem;
}